#DisplayCardsCon{
    position : absolute;
    width : 80%;
    height : 50%;
    background : rgba(255, 255, 255, 0.7);
    top : 70%;
    left : 50%;
    transform : translate(-50%, -50%);
    padding : 10px;
    margin : 10px;
    border-radius : 10px;
    display : flex;
    flex-direction : column;
    gap : 10px;
    align-items : stretch;
    justify-content : space-evenly;
}

#DCCr1, #DCCr2{
    background : rgba(255, 255, 255, 0.3);
    flex : 1;
    display : flex;
    flex-direction : row;
    justify-content : center;
    align-items : stretch;
    gap : 20px;
    overflow : hidden;
}

#DCCr1 > div, #DCCr2 > div{
    flex : 1;
    border-radius : 10px;
    background : rgba(128, 128, 128, 0.15);
    justify-content : space-evenly;
    backdrop-filter : blur(15px);
    box-shadow : inset 0 0 15px rgba(255, 255, 255, 0.1), 0 4px 20px rgba(0, 0, 0, 0.3);
    transition : all 0.3s ease-in-out;
    border : 0;

}

#DCCr1 > div:hover,
#DCCr2 > div:hover {
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
    border : 2px solid grey;
}


#DCCr1 > p, #DCCr2 > p{
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 10px;
    flex : 1;

}

.CardLabel{
    font-family: "Rubik Distressed", system-ui;
    font-weight: 400;
    font-style: normal;
    text-decoration : underline;
}

.CardVal{
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    font-family: "Poiret One", sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size : clamp(1.5rem, 1.2vw + 0.5vh, 4rem);
}

.CardValProd{
    display : flex;
    flex-direction : row;
    width : 95%;
    height : 60%;
    overflow-y : scroll;
    font-family: "Poiret One", sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size : clamp(1vh, 2vh, 3vh);
}


.cardColon  ul, .cardProdQuan ul{
    list-style : none;
}

.cardColon ul, .cardProdQuan ul, .cardProdname ul{
    display : flex;
    flex-direction : column;
    gap : 5px;
}